{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "parser": "@typescript-eslint/parser",
    "ignorePatterns": ["node_modules", "webpack.*.js", "dist"],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/eslint-recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "root": true,
    "rules": {
        "@typescript-eslint/ban-types": [
            "error",
            {
                "types": {
                    "Object": false
                }
            }
        ]
    }
}
